/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #4A90E2;
    background-size: cover;
    overflow: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(22, 18, 18, 0.6), transparent);
    z-index: 100;
}

.nav-logo p {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active {
    border-bottom: 2px solid #4A90E2;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #061e47;
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

section {
    padding: 100px 8%;
}

.invoice-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #061e47;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0;
}

.item-list {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

footer {
    margin-top: 20px;
    font-weight: bold;
}

@media print { 
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    .body {
        background: url("peakpic.jpg") no-repeat center center fixed;
        background-size: cover;
        overflow: auto;
    }
    button {
        display: none; /* Hide the button when printing */
    }
    
    .nav-menu ul {
        display: none;
    }
    
    
    
    .invoice-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid bisque;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #050303;
    }

   
    
}


